@import "../assets/sass/main.scss";
@import "../assets/sass/lib/vars.scss";
@import "./Category/Category.scss";

.content {
    display: flex;
    justify-content: center;
}

//Content left
.content_left {
    .section_header {
        height: $height_column_header;
        background-color: $color_column_header_left;
        .section_title {
            margin-bottom: 5px;
            color: $color_white;
            font-weight: 700;
        }
    }
    .section_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color_background;
        .content_cases {
            margin: 4px 4px 2px 4px;
            .case {
                background-color: $color_white;
                margin-bottom: 2px;
                .case_left {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                }
                .case_right {
                    display: flex;
                    align-items: center;
                    .muted_true {
                        color: $color_primary_bold;
                    }
                    .muted_false {
                        color: #CDCDCD;
                    }
                    .thumbtack {
                        transform: rotate(45deg);
                    }
                    .icon_pinned {
                        color: $color_primary_bold;
                    }
                    .icon_no_pinned {
                        color: #CDCDCD;
                    }
                    .slash {
                        position: relative;
                        right: 18px;
                    }
                }
            }
        }
    }
}